{% extends 'layouts/base.html' %}

{% load static %}

{% block user_nav %}
    {% include 'components/nav_bar_item.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 d-sm-flex d-lg-flex d-xl-flex flex-nowrap justify-content-sm-center align-items-sm-center justify-content-lg-start align-items-lg-center align-items-xl-center"
             style="margin-top: 20px;">
            <h1 class="d-xl-flex justify-content-xl-start align-items-xl-center">Sign in</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2">
            <p>Login</p>
        </div>
        <div class="col"><input type="text"></div>
    </div>
    <div class="row">
        <div class="col-xl-2">
            <p>Email</p>
        </div>
        <div class="col"><input type="text"></div>
    </div>
    <div class="row">
        <div class="col-xl-2">
            <p>Username</p>
        </div>
        <div class="col"><input type="text"></div>
    </div>
    <div class="row">
        <div class="col-xl-2">
            <p>Password</p>
        </div>
        <div class="col"><input type="password"></div>
    </div>
    <div class="row d-xl-flex align-items-xl-center">
        <div class="col-xl-2">
            <p>Repeat Password</p>
        </div>
        <div class="col"><input type="password"></div>
    </div>
    <div class="row d-xl-flex align-items-xl-center">
        <div class="col-xl-2">
            <p>Avatar</p>
        </div>
        <div class="col-xl-2"><img style="width: 80px;border-radius: 10px;"></div>
        <div class="col"><input type="file"></div>
    </div>
    <button class="btn btn-primary" type="button">Register</button>
{% endblock %}